.article {
  animation: var(--fadeInUp);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 42rem;
  max-width: 42rem;
  min-width: 42rem;
  font-size: var(--font-size-xl);
}

.article * {
  max-width: 100%;
  line-height: 1.5;
}

.article > div > * {
  margin-bottom: 1.5rem;
}

.article h1 {
  margin-bottom: 2rem;
}

.article h2 {
  margin: 1.75rem 0;
  color: var(--color-ternay-500);
}

.article p > code {
  background-color: var(--color-background-500);
  font-size: var(--font-size-md);
  padding: .25rem .5rem;
  border-radius: var(--rounded-sm);
  font-weight: 600;
}

.article table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: var(--shadow-sm);
  border-radius: var(--rounded-sm);
  overflow: hidden;
}

.article table thead tr {
  background-color: var(--color-ternay-500);
  color: #ffffff;
  text-align: left;
}

.article table th,
.article table td {
  padding: 12px 15px;
}

.article table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.article table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-ternay-500);
}

.article a {
  text-decoration: underline;
  color: var(--color-primary-500);
}

.article ul {
  padding-left: 2rem;
}

.article .tags {
  display: flex;
  font-size: var(--font-size-xs);
  gap: .5rem;
  list-style: none;
  padding-left: 0;
}

.article .tag {
  background-color: var(--color-background-500);
  border-radius: var(--rounded-sm);
  padding: .5rem .75rem;
  transition-property: var(--transition-colors);
  transition: var(--transition);
  color: var(--color-white);
  text-decoration: none;
}

.article .tag:hover {
  background-color: var(--color-secundary-500);
}