.article {
  animation: var(--fadeInUp);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 42rem;
  max-width: 42rem;
  min-width: 42rem;
  font-size: var(--font-size-xl);
}

.article * {
  max-width: 100%;
  line-height: 1.5;
}

.article > div > * {
  margin-bottom: 1.5rem;
}

.article h1 {
  margin-bottom: 2rem;
}

.article h2 {
  margin: 1.75rem 0;
  color: var(--color-ternay-500);
}

.article p > code {
  background-color: var(--color-background-700);
  font-size: var(--font-size-md);
  padding: .25rem .5rem;
  border-radius: var(--rounded-sm);
  font-weight: 600;
}

.article pre {
  position: relative;
  background-color: var(--color-background-800);
  padding: 1.5rem;
  font-size: var(--font-size-md);
  display: block;
  border-radius: var(--rounded-sm);
  color: var(--color-primary-300);
  border: 1px solid transparent;
  transition: var(--transition);
  overflow-x: auto;
}

.article pre::-webkit-scrollbar {
  border-radius: var(--rounded-sm);
  background-color: transparent;
  height: .5rem;
}

.article pre::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.article pre:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-background-400);
}

.article pre:hover {
  border: 1px solid var(--color-background-500);
  opacity: .9;
}

.article pre:hover::before {
  content: url('/icons/copy-regular.svg');
  color: var(--color-white);
  position: absolute;
  right: .75rem;
  top: .75rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .5rem;
  aspect-ratio: 1/1;
  background-color: var(--color-background-700);
  border-radius: var(--rounded-sm);
  animation: var(--fadeIn);
  cursor: pointer;
}

.article table {
  background-color: var(--color-background-400);
}

.article table th {
  text-align: center;
  background-color: var(--color-background-600);
  padding: .5rem;
}

.article table td {
  padding: .5rem;
  background-color: var(--color-background-600);
}

.article a {
  text-decoration: underline;
  color: var(--color-primary-500);
}

.article ul {
  padding-left: 2rem;
}