.hero {
  animation: var(--fadeInUp);
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
  max-width: 48rem;
  padding: 4rem 0 6rem;
}

.helloworld {
  color: var(--color-primary-500);
  font-size: var(--font-size-5xl);
  line-height: var(--font-size-5xl);
  animation: gradient 10s ease infinite;
}

.helloworld[data-page='home'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-secundary-500), var(--color-primary-500));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='projects'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-secundary-500), var(--color-secundary-400));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='blog'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-secundary-500), var(--color-ternay-500));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='categories'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-ternay-500), var(--color-quarter-500));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='about'] {
  background-clip: text;
  background: linear-gradient(-45deg, #0969AF, #0C8CE9);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.hero h1 {
  font-size: var(--font-size-7xl);
  line-height: var(--font-size-7xl);
}

.subtitle {
  color: var(--color-background-400);
  font-size: var(--font-size-5xl);
  line-height: var(--font-size-5xl);
}

.description {
  color: var(--color-background-400);
  font-size: var(--font-size-4xl);
  max-width: 30rem;
}