.hero {
  animation: var(--fadeInUp);
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
  max-width: var(--screen-lg);
  margin: 0 auto;
  padding: 4rem 0 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero[data-page = 'home'] {
  opacity: 0;
  animation: var(--fadeInUp);
  animation-delay: .2s;
  align-items: center;
  gap: 2.5rem;
  min-height: 35rem;
  max-width: none;
  margin-bottom: 4rem;
}

.hero[data-page = 'home'] .content {
  gap: .5rem;
  align-items: center;
}

.header {
  font-size: var(--font-size-xl);
  color: var(--color-background-400);
}

.title {
  animation: gradient 15s ease infinite;
  font-size: var(--font-size-6xl);
  font-weight: 800;
  letter-spacing: -0.16rem;
  line-height: var(--font-size-6xl);
  max-width: 62rem;
  padding-bottom: .5rem;
  padding-right: .25rem;
}

.title_container[data-page='home'] {
  opacity: 0;
  animation: var(--fadeInUp);
  animation-delay: .3s;
}

.title[data-page='blog'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-secundary-500), var(--color-primary-500));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title[data-page='projects'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-secundary-500), var(--color-secundary-400));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title[data-page='home'] {
  text-align: center;
  letter-spacing: -0.35rem;
  font-size: var(--font-size-7xl);
  line-height: var(--font-size-7xl);
  padding-bottom: 1.5rem;
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-secundary-500), var(--color-ternay-500), var(--color-secundary-500));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title[data-page='categories'] {
  background-clip: text;
  background: linear-gradient(-45deg, var(--color-ternay-500), var(--color-quarter-500));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title[data-page='about'] {
  background-clip: text;
  background: linear-gradient(-45deg, #0969AF, #0C8CE9);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.description {
  color: var(--color-background-300);
  font-weight: 200;
  font-size: var(--font-size-xl);
  max-width: 45rem;
}

.hero[data-page = 'home'] .description {
  opacity: 0;
  text-align: center;
  animation: var(--fadeInUp);
  animation-delay: .4s;
  line-height: var(--font-size-3xl);
}

.data {
  font-size: var(--font-size-sm);
  color: var(--color-background-300);
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.link:hover {
  color: var(--color-primary-500);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}