.hero {
  animation: var(--fadeInUp);
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
  max-width: 48rem;
  padding: 4rem 0 6rem;
}

.helloworld {
  color: var(--color-primary-500);
  font-size: var(--font-size-5xl);
  line-height: var(--font-size-5xl);
}

.helloworld[data-page='home'] {
  background-clip: text;
  background: linear-gradient(275deg, #0C8CE9 65%, #86C6F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='projects'] {
  background-clip: text;
  background: linear-gradient(275deg, #7B61FF 65%, #9C89FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='blog'] {
  background-clip: text;
  background: linear-gradient(275deg, #7B61FF 65%, #F97583 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='categories'] {
  background-clip: text;
  background: linear-gradient(275deg, #C08154 65%, #FFAB70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.helloworld[data-page='about'] {
  background-clip: text;
  background: linear-gradient(275deg, #0969AF 65%, #0C8CE9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h1 {
  font-size: var(--font-size-7xl);
  line-height: var(--font-size-7xl);
}

.subtitle {
  color: var(--color-background-400);
  font-size: var(--font-size-5xl);
  line-height: var(--font-size-5xl);
}

.description {
  color: var(--color-background-400);
  font-size: var(--font-size-4xl);
  max-width: 30rem;
}