.footer {
  align-items: center;
  background: var(--color-background-900);
  background: linear-gradient(180deg, var(--color-background-800) 0%, var(--color-background-900) 30%);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 4rem;
  height: 45rem;
  justify-content: flex-end;
  padding: 1.5rem;
  z-index: 10;
  position: relative;
}

.content {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 3rem 4rem;
  position: relative;
  z-index: 10;
  background-color: var(--color-background-80);
  border: 1px solid var(--color-background-60);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-md);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  list-style: none;
}

.content > .section:first-of-type {
  width: 40%;
}

.section p {
  line-height: 2;
}

.email {
  color: var(--color-ternay-500);
}

.title {
  color: var(--color-background-300);
}

.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 12rem;
  column-gap: 1.5rem;
}

.link {
  transition: var(--transition);
  transition-property: var(--transition-colors);
  display: flex;
  width: 100%;
  gap: .5rem;
}

.link:hover {
  color: var(--color-primary-500);
}

.address {
  color: var(--color-background-300);
  font-style: normal;
}