.container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: var(--color-white);
}

.container[data-visible = true] {
  animation: var(--fadeInUp);
}

.container[data-visible = false] {
  animation: var(--fadeOutDown);
}