.button {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: var(--color-background-600);
  transition: var(--transition);
  transition-property: var(--transition-colors);
  color: var(--color-white);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 2.5rem;
  border: none;
}

.button:hover {
  background-color: var(--color-background-500);
}

.button[data-size='lg'] {
  width: 3rem;
}