.button {
  position: relative;
  overflow: hidden;
  display: flex;
}

.button > .content {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.button > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 999;
  backdrop-filter: invert(100%);
  display: block;
  content: '';
  border-radius: 100%;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(30);
    opacity: 0.05;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}