.precode {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-700);
  font-size: var(--font-size-md);
  border-radius: var(--rounded-sm);
  border: 1px solid transparent;
  transition: var(--transition);
  margin: 4rem 0;
  box-shadow: var(--shadow-sm);
}

.precode:hover {
  border: 1px solid var(--color-background-500);
  opacity: .9;
}

.precode pre {
  background: none!important;
  margin: 0!important;
  padding: 1.5rem!important;
}

.precode pre::-webkit-scrollbar {
  border-radius: var(--rounded-sm);
  background-color: transparent;
  height: .5rem;
}

.precode pre::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.precode:hover pre::-webkit-scrollbar-thumb {
  background-color: var(--color-background-400);
}

.precode pre code {
  background: none!important;
  text-shadow: none!important;
  filter: contrast(1.5);
}

.after {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 4rem;
  min-width: 4rem;
  min-width: 4rem;
  padding: 1.25rem 1.25rem 0 0;
  font-size: .5rem;
  animation: var(--fadeIn);
}

.after button {
  opacity: 0;
  background-color: var(--color-background-600);
  color: var(--color-background-400);
  cursor: pointer;
  border: 1px solid var(--color-background-400);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: var(--rounded-sm);
  transition: var(--transition);
}

.precode:hover button {
  opacity: 1;
}

.after button:hover {
  background-color: var(--color-background-500);
  color: var(--color-background-300);
}

.after button[data-tooltip = 'Copiado'] {
  background-color: var(--color-background-500);
  border-color: var(--color-green);
  color: var(--color-green);
}

.lenguage {
  position: absolute;
  transition: var(--transition);
  left: -1px;
  top: -1.75rem;
  background-color: var(--color-background-700);
  padding: .25rem .75rem;
  border-radius: var(--rounded-sm);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1;
  border: 1px solid transparent;
  font-weight: 600;
  color: var(--color-background-300);
}

.precode:hover .lenguage {
  border-top: 1px solid var(--color-background-500);
  border-left: 1px solid var(--color-background-500);
}
