.header {
  align-items: center;
  background-color: var(--color-background-600);
  border-radius: var(--rounded-lg);
  border: 1px solid var(--color-background-40);
  box-shadow: var(--shadow-md);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  max-width: var(--screen-lg);
  padding: 1rem;
}

.nav ul {
  display: flex;
  font-weight: bold;
  gap: 1.5rem;
  list-style: none;
}

.link {
  font-size: var(--font-size-md);
  text-decoration: none;
  transition-property: var(--transition-primary);
  transition: var(--transition);
  position: relative;
}

.link:hover {
  color: var(--data-color);
}

.link[data-active = true] {
  color: var(--data-color);
}

.link[data-active = true]::before {
  animation: var(--fadeIn);
  background-color: var(--data-color);
  border-radius: var(--rounded-lg);
  bottom: -1.75rem;
  content: "";
  height: .25rem;
  left: calc(50% - 1.5rem);
  position: absolute;
  width: 3rem;
}