:root {
  --color-primary-05: #0c8de90d;
  --color-primary-50: #0C8CE966;
  --color-primary-100: #E1F1FD;
  --color-primary-200: #C3E3FA;
  --color-primary-300: #86C6F4;
  --color-primary-400: #49A9EF;
  --color-primary-500: #0C8CE9;
  --color-primary-600: #0969AF;
  --color-primary-700: #064675;
  --color-primary-800: #03233B;
  --color-primary-900: #02121E;
  --color-secundary-05: #7B61FF0d;
  --color-secundary-100: #EFECFF;
  --color-secundary-200: #DED8FF;
  --color-secundary-300: #BDB0FF;
  --color-secundary-400: #9C89FF;
  --color-secundary-500: #7B61FF;
  --color-secundary-600: #5D49C0;
  --color-secundary-700: #3E3180;
  --color-secundary-800: #1F1940;
  --color-secundary-900: #100D20;
  --color-ternay-100: #FFEEF0;
  --color-ternay-200: #FEDDE0;
  --color-ternay-300: #FCBAC1;
  --color-ternay-400: #FB98A2;
  --color-ternay-500: #F97583;
  --color-ternay-600: #BB5863;
  --color-ternay-700: #7D3B42;
  --color-ternay-800: #3F1E21;
  --color-ternay-900: #1E1518;
  --color-quarter-100: #FFF5EE;
  --color-quarter-200: #FFEADC;
  --color-quarter-300: #FFD5B8;
  --color-quarter-400: #FFC094;
  --color-quarter-500: #FFAB70;
  --color-quarter-600: #C08154;
  --color-quarter-700: #805638;
  --color-quarter-800: #402B1C;
  --color-quarter-900: #20160E;
  --color-background-40: #4a505766;
  --color-background-50: #24292E66;
  --color-background-60: #1B1F2366;
  --color-background-80: #0b0e0f;
  --color-background-100: #E4E5E5;
  --color-background-200: #C9CACB;
  --color-background-300: #929497;
  --color-background-400: #495057;
  --color-background-500: #24292E;
  --color-background-600: #1B1F23;
  --color-background-700: #121517;
  --color-background-800: #101214;
  --color-background-900: #090B0C;
  --color-white: #ffffff;
  --color-black: #212529;
  --color-green: #89eb83;
  --color-red: #e06969;


  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1100px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  --font-size-2xs: .5rem; 
  --font-size-xs: .625rem; 
  --font-size-sm: .875rem;
  --font-size-md: 1rem; 
  --font-size-lg: 1.125rem; 
  --font-size-xl: 1.25rem; 
  --font-size-2xl: 1.5rem; 
  --font-size-3xl: 1.75rem; 
  --font-size-4xl: 2rem; 
  --font-size-5xl: 3rem; 
  --font-size-6xl: 4rem; 
  --font-size-7xl: 5rem; 
  --font-size-8xl: 6rem; 
  --font-size-9xl: 8rem; 
  
  --rounded-sm: .5rem;
  --rounded-md: .875rem;
  --rounded-lg: 1.25rem;
  --rounded-xl: 1.75rem;
  
  --shadow-sm: 0 .25rem .875rem rgb(0 0 0 / 25%);
  --shadow-md: 0 .25rem 1rem rgb(0 0 0 / 25%);

  --timing-function: cubic-bezier(.18,.73,.38,.99);
  --transition: .3s var(--timing-function);
  --transition-primary: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  --transition-colors: color, background-color, border-color, text-decoration-color, fill, stroke;

  --fadeIn: fadeIn .6s var(--timing-function) forwards;
  --fadeInUp: fadeInUp .6s var(--timing-function) forwards;
  --fadeInDown: fadeInDown .6s var(--timing-function) forwards;
  --fadeInLeft: fadeInLeft .6s var(--timing-function) forwards;
  --fadeInRight: fadeInRight .6s var(--timing-function) forwards;

  --fadeOut: fadeOut .2s var(--timing-function) forwards;
  --fadeOutUp: fadeOutUp .2s var(--timing-function) forwards;
  --fadeOutDown: fadeOutDown .2s var(--timing-function) forwards;
  --fadeOutLeft: fadeOutLeft .2s var(--timing-function) forwards;
  --fadeOutRight: fadeOutRight .2s var(--timing-function) forwards;
}

::-webkit-scrollbar {
  background-color: var(--color-background-600);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background-400);
  border-radius: 1px;
}

::selection {
  background-color: var(--color-primary-500);
  color: var(--color-white);
}

@media (prefers-color-scheme: github-dark) {}

@keyframes fadeIn {
  0% { 
    visibility: hidden;
    opacity: 0;
  }
  100% { 
    visibility: visible; 
    opacity: 1; 
  }
}

@keyframes fadeInUp {
  0% {
    visibility: hidden; 
    opacity: 0; 
    transform: translateY(0.75rem); 
  }
  100% { 
    visibility: visible;
    opacity: 1; 
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% { 
    visibility: hidden; 
    opacity: 0; 
    transform: translateY(-0.75rem);
   }
  100% { 
    visibility: visible;
    opacity: 1; 
    transform: translateY(0); }
}

@keyframes fadeInLeft {
  0% { 
    visibility: hidden; 
    opacity: 0; 
    transform: translateX(0.75rem);
   }
  100% { 
    visibility: visible;
    opacity: 1; 
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% { 
    visibility: hidden; 
    opacity: 0; 
    transform: translateX(-0.75rem); 
  }
  100% { 
    visibility: visible;
    opacity: 1; 
    transform: translateX(0); 
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1; 
  }
  to {
    visibility: hidden;
    opacity: 0; 
  }
}

@keyframes fadeOutUp {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  to { 
    visibility: hidden;
    opacity: 0; 
    transform: translateY(-0.75rem);
  }
}

@keyframes fadeOutDown {
  0% { 
    visibility: visible; 
    opacity: 1; 
    transform: translateY(0);
   }
  100% { 
    visibility: hidden;
    opacity: 0; 
    transform: translateY(0.75rem); }
}

@keyframes fadeOutLeft {
  0% { 
    visibility: visible; 
    opacity: 1; 
    transform: translateX(0);
   }
  100% { 
    visibility: hidden;
    opacity: 0; 
    transform: translateX(-0.75rem);
  }
}

@keyframes fadeOutRight {
  0% { 
    visibility: visible; 
    opacity: 1; 
    transform: translateX(0); 
  }
  100% { 
    visibility: hidden;
    opacity: 0; 
    transform: translateX(0.75rem); 
  }
}

[data-tooltip] {
  position: relative;
  display: flex;
  justify-content: center;
}

[data-tooltip]::before {
  background-color: var(--color-background-400);
  border-radius: var(--rounded-sm);
  bottom: 115%;
  color: var(--color-white);
  content: attr(data-tooltip);
  font-size: var(--font-size-xs);
  font-weight: 600;
  letter-spacing: 0px;
  padding: .5rem .75rem;
  position: absolute;
  scale: .9;
  transition: var(--transition);
  width: max-content;
}

[data-tooltip]:hover::before {
  animation: var(--fadeIn);
  scale: 1;
}

[data-tooltip]:not(:hover)::before {
  animation: var(--fadeOut);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--color-background-700);
  color: var(--color-white);
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: var(--fadeIn);
}

canvas {
  animation: var(--fadeIn);
}