.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  animation: var(--fadeInUp);
}

.title {
  font-size: var(--font-size-4xl);
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link a {
  align-items: center;
  display: flex;
  gap: .5rem;
  width: 10rem;
  font-weight: 600;
}

.link a:hover {
  color: var(--color-secundary-500);
}