.header {
  align-items: center;
  background-color: var(--color-background-500);
  border-radius: var(--rounded-lg);
  border: 1px solid var(--color-background-400);
  box-shadow: var(--shadow-md);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  max-width: var(--screen-lg);
  padding: 1rem;
}

.nav ul {
  display: flex;
  font-weight: bold;
  gap: 1.5rem;
  list-style: none;
}

.link {
  font-size: var(--font-size-md);
  text-decoration: none;
  transition: var(--transition);
  transition-property: var(--transition-primary);
}

.nav ul li:nth-child(1):hover {
  color: var(--color-secundary-500);
}

.nav ul li:nth-child(2):hover {
  color: var(--color-ternay-500);
}

.nav ul li:nth-child(3):hover {
  color: var(--color-quarter-500);
}

.nav ul li:nth-child(4):hover {
  color: var(--color-primary-500);
}