.input {
  background-color: var(--color-background-500);
  border: 1px solid var(--color-background-400);
  padding: .75rem 1.5rem;
  font-size: var(--font-size-md);
  border-radius: var(--rounded-sm);
  outline: none;
  color: var(--color-white);
}