.container {
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
  z-index: -1;
}

.light {
  aspect-ratio: 1/1;
  background-color: var(--color-primary-500);
  border-radius: 100%;
  filter: blur(250px);
  opacity: 20%;
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
}